h1, h2, h3, p, ol, ul {
	margin: 0;
	padding: 0;
}

* { box-sizing:border-box; }

img { max-width:100%; }

/************* End CSS RESETS **************/

body {
	
	color: #7e6c4a;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px 0;
	animation: bgcolorchange 4s infinite alternate;
}
@keyframes bgcolorchange{
	0% {background-color: rgb(250, 240, 196)};
	50%{background-color: #e5f8c9};
	100%{background-color:rgb(195, 244, 228)};
}

#page {
	max-width: 980px;
	margin: auto;
}

header {
	border-bottom: 3px solid #879c8c;
	padding-bottom: 20px;
}

header, footer {
	margin: 0 10px;
}
section {
	padding:20px 0;
}

footer {
	border-top: 3px solid #9c8585;
	padding-top: 20px;
}

#about {
	padding: 10px;
}

#projects {
	padding: 10px;
}
#rotate{
	font-weight: bold;
	background-color:rgb(203, 249, 234) ;
	display: flex; 
	flex-direction: column;
	align-items: flex-end;
    padding: 10px;
	width: 110px;
	height: 150px;
	transform: rotate(0deg);
}
/* #rotate img{
	display: block;
	border-radius: 30%;
} */
#rotate:hover {
	transform: rotate(1800deg);
	transition: all 3s ease-out;
}
.alignleft {
	/* float: left; */
	margin: 0 10px 5px 0;
}

/************ typography *************/

h1, h2, h3 {
	font-family: 'Bitter', serif;
	margin-bottom:.5em;
}

h1 {
	font-size:150%;
	text-transform:uppercase;
}

header h1 {
	color:brown;
	font-size:300%;
	margin-bottom:.1em;
}
h3{
	color:rgb(199, 152, 152);
}
h4{
	padding-bottom: 15px;
	border-bottom: 2px dotted rgb(116, 137, 127);
}
p {
	line-height:1.5em;
	margin-bottom:1em;
}

ul, ol {
	margin-bottom:1em;
	padding-left:1.2em;
}

li {
	margin-bottom:.5em;
}

a {
	text-decoration:none;
	color:#c0ec82;
}

a:hover {
	text-decoration:underline;
}

@media only screen and (min-width: 600px) {
	
	main { display: flex;}
	#about { flex: 2; }
	#projects { flex: 1; }
	
}


	

